html,
body {
  background-image: linear-gradient(
    to right,
    rgb(18, 8, 48),
    rgb(29, 232, 212)
  );
  color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Ubuntu, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
  color: black;
}

label {
  color: white;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: white;
  margin-top: 0;
  padding-bottom: 40px;
  font-family: Ubuntu;
}

h4 {
  color: white;
  margin-top: 0;
  padding-bottom: 40px;
  font-family: Ubuntu;
}

#chat-form {
  align-self: flex-end;
  }

  .player {
    padding: 10px 40px 10px 40px;
    margin: 10px 0;
    position: relative;
  }

/* .players-list-col {
  height: 200px;
  border: 5px solid rgb(223, 223, 223);
  border-radius: 20px;
  margin-top: 40px;
} */

.clue-col {
  height: 200px;
  border-radius: 20px;
  border: 5px solid rgb(223, 223, 223);
  margin-top: 20px;
}

.game-header {
  text-align: center;
}

.message-list {
  width: auto;
  height: 380px;
  overflow: scroll
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
}

.footer {
  color: white;
  text-align: center;
  padding-bottom: 25px;
}

.submit-btn {
  border: 0;
  border-radius: 8px;
  color: white;
  width: 100px;
  height: 40px;
  cursor: pointer;
  background-color: #337AA8;
  position: relative;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
"Helvetica Neue", sans-serif;
  touch-action: manipulation;
}

.submit-btn:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.submit-btn:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

/* @media (min-width: 768px) {
  .btn-index {
    padding: 10px 30px;
  }
}  */

.input-index {
  text-align: center;
  display: block;
  width: 100%;
  border-radius: 56px;
  border: 0;
  outline: 0;
  padding: 0.9rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
}
.input-index:invalid {
  outline: 0;
  color: #337aa8;
  border-color: #337aa8;
}
.input-index:focus,
.input-index:valid {
  border-color: #337aa8;
}
.input-index:focus ~ label,
.input-index:valid ~ label {
  font-size: 14px;
  top: -24px;
  color: #337aa8;
}

/* avatar selector */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");

.avatar-selector {
  box-sizing: border-box;
  height: 300px;
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  height: 50%;
  width: 50%;
  max-width: 400px;
  max-height: 400px;
  margin-top: 40px;
  margin-bottom: 45px;
}
.btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
button {
  width: 6em;
  height: 2.5em;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
  background-color: rgb(231, 231, 231);
  box-shadow: 2px 3px 5px rgb(102, 101, 101);
  border-radius: 15px;
  border: none;
  transition: 0.2s;
}
button:active {
  box-shadow: none;
}
.btns > button:hover {
  background-color: #ffffff;
}
#gen {
  background-color: #4361ee;
  color: white;
}
#down {
  background-color: #eb3349;
  color: white;
}
