@font-face {
  font-family: "Apasih";
  src: url("/fonts/Apasih.otf");
  font-weight: normal;
}

* {
  font-family: Apasih;
}

html,
body {
  background-image: url("../public/images/bg-img.jpg");
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Apasih", sans-serif;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
  color: black;
}

label {
  color: white;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: white;
  margin-top: 0;
  padding-bottom: 20px;
  font-family: Apasih, sans-serif;
}

h4 {
  color: white;
  margin-top: 0;
  padding-bottom: 40px;
  font-family: Apasih;
}

#chat-form {
  align-self: flex-end;
}

.container {
  height: 100%;
}

.player {
  padding: 10px 40px 10px 40px;
  margin: 10px 0;
  position: relative;
}

.clue-col {
  height: 200px;
  border-radius: 20px;
  border: 5px solid rgb(223, 223, 223);
  margin-top: 20px;
}

.game-header {
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.message-list {
  width: auto;
  height: 380px;
  overflow: scroll;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
}

.footer {
  color: white;
  text-align: center;
  position: relative;
  bottom: 20px;
  background-color: rgba(0, 127, 198, 255);
  padding-top: 5px;
}

#right {
  float: right;
  text-decoration: none;
  color: #ffffff;
}

#githubIcon {
  height: 20px;
}

.set-host {
  text-align: center;
}

.btn-success:hover,
.btn-about:hover,
.how-to-play-btn:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

.input-index:invalid {
  outline: 0;
  color: #337aa8;
  border-color: #337aa8;
}
.input-index:focus,
.input-index:valid {
  border-color: #337aa8;
}
.input-index:focus ~ label,
.input-index:valid ~ label {
  font-size: 14px;
  top: -24px;
  color: #337aa8;
}

/* avatar selector */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");

.avatar {
  height: 50%;
  width: 50%;
  margin-top: 40px;
  margin-bottom: 45px;
  align: center;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  width: 6em;
  height: 2.5em;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: Apasih, sans-serif;
  background-color: rgb(231, 231, 231);
  border-radius: 15px;
  border: none;
  transition: 0.2s;
}

button:active {
  box-shadow: none;
}

.btns > button:hover {
  background-color: #ffffff;
}

#gen {
  background-color: #4361ee;
  color: white;
  margin: 0;
  padding: 0;
  width: 5em;
}

#down {
  background-color: #eb3349;
  color: white;
}

.about-btn {
  padding: 10px 20px;
  display: block;
  margin: 25px auto 0;
  font-size: 18px;
}

.how-to-play-btn {
  display: block;
  margin: 25px auto 0;
  font-size: 18px;
}

.how-to-play,
.about,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.how-to-play-content,
.about-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #a1bcdf;
  padding: 14px 14px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-how-to-play,
.close-about {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  font-size: 2rem;
  font-weight: bold;
  width: 1em;
  height: 1em;
  margin: 5px;
}

/* Login */

.loginPanelContent {
  background-color: rgb(24, 26, 27);
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 4px 0px;
  border-radius: 2px;
  display: block;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 8px;
}

.btn-success {
  color: rgb(232, 230, 227);
  background-color: rgb(77, 133, 58);
  border-color: rgb(55, 125, 55);
  margin-top: 8px;
  width: 100%;
}

.btn-about {
  color: rgb(232, 230, 227);
  background-color: #007fc6;
  border-color: #007fc6;
  border-radius: 0.3rem;
  margin-top: 8px;
  width: 100%;
  height: 2.5em;
}

.how-to-play-btn {
  color: rgb(232, 230, 227);
  background-color: rgb(77, 133, 58);
  border-color: rgb(55, 125, 55);
  margin-top: 8px;
  border-radius: 0.3rem;
  width: 100%;
  height: 2.5em;
}

#inputName {
  width: 173%;
  margin-top: 10px;
}

/* Randomizer button */

#buttonAvatarCustomizerRandomize {
  cursor: pointer;
  position: relative;
  width: 32px;
  height: 32px;
  right: 4px;
  top: 4px;
  opacity: 0.6;
}

#buttonAvatarCustomizerRandomize:hover {
  opacity: 1;
}

.loginAvatarCustomizeContainer {
  background-color: rgb(30, 32, 34);
  border-color: rgb(60, 65, 68);
  margin-top: 8px;
  display: flex;
  justify-content: center;
  position: relative;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
}

.loginAvatar {
  margin: 20px;
  padding: 5px;
  width: 40%;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
}

#flag {
  width: 40%;
  position: relative;
  top: 50px;
  right: 190px;
}
